:root {
	--color-red: #850101;
	--color-red-light: #c30303;
	--color-dark-red: #490000;
	--color-crimson: #2f0000;
	--color-dark-crimson: #200b0b;
	--color-dark: #0f0606;
	--color-white: #ffffff;
	--bg: #0f0606;
	--primary-font: 'Preahvihear', sans-serif;
	--second-font: 'Poppins', sans-serif;
}
