@use './_normalize';
@use './_fonts';
@use './_variables';

body {
	background: var(--bg);
	font-family: var(--primary-font);
	color: var(--color-white);
}

input,
button,
textarea,
div,
span {
	font-family: var(--primary-font);
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: var(--color-dark-crimson);
}

::-webkit-scrollbar-thumb {
	background: var(--color-red);
	border-radius: 10px;
}
